@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>My name is Karan Ahuja and I enjoy how the way Professor Deitz teaches this class!</p>
