@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Karan Ahuja</p>

<address>
    <strong>Contact info:</strong> <a href="mailto:kahuja3@uic.edu">kahuja3@uic.edu</a><br />
</address>
